#app {
  // 主体区域 Main container
  .main-container {
    & > .app-container {
      position: absolute;
      width: 100%;
      background-color: #f1f1f1;
      min-height: calc(100vh - #{$topBarHeight});
      padding: 30px;
      overflow-y: auto;
    }
  }
}
