#app {
  // 主体区域 Main container
  .main-container {
    transition: margin-left 0.28s;
    margin-left: $sideBarWidth;
    position: relative;
  }

  // 侧边栏 Sidebar container
  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    // width: 268px !important;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    padding-top: $topBarHeight;
    // background: #0064fe;
    padding-bottom: 44px;

    .scrollbar-wrapper {
      overflow-y: overlay;
      overflow-x: hidden;
      height: 100%;
      position: relative;
      background-color: $menuBg;
      &::-webkit-scrollbar {
        width: 0px;
      }
      &:hover::-webkit-scrollbar {
        border: none;
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        background: rgba($color: #000, $alpha: 0.05);
      }
      &::-webkit-scrollbar-track {
        border-radius: 0;
      }
    }

    .collapse {
      background: $menuBg;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      .com-toggle {
        display: inline-block;
        padding: 6px;
        cursor: pointer;
        border-radius: 50%;
        transition: background 0.3s;
        &:hover {
          background: rgba(68, 91, 120, 0.5);
        }
        svg {
          fill: #fff;
        }
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    // ant menu style
    .ant-menu {
      background-color: $menuBg;
      border: none;
      color: $menuText;
      .ant-menu-item::after {
        // border: none;
        border-color: $menuBorder;
      }
      .ant-menu-submenu-active {
        color: $menuText;
      }
      .ant-menu-submenu-selected {
        color: $menuText;
      }
      .ant-menu-item-active {
        background-color: $menuActiveBg;
        color: $menuActiveText;
      }
      .ant-menu-submenu-title:active {
        background: $menuBg;
      }
      .ant-menu-submenu-arrow {
        color: $menuText;
      }
      .ant-menu-submenu:hover {
        .ant-menu-submenu-title {
          .ant-menu-submenu-arrow {
            color: $menuText;
          }
        }
      }
      .ant-menu-submenu-title:hover {
        color: $menuText;
      }
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: $hideSideWidth !important;
    }

    .ant-menu.ant-menu-inline-collapsed {
      width: $hideSideWidth;
    }

    .main-container {
      margin-left: $hideSideWidth;
    }

    .submenu-title-noDropdown {
      padding-left: 10px !important;
      position: relative;
    }
  }

  // 适配移动端, Mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform 0.28s;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

.ant-menu-submenu > .ant-menu {
  background-color: $subMenuBg;
  color: $subMenuText;
  .ant-menu-item-active {
    color: $subMenuActiveText;
    background-color: $subMenuActiveBg;
  }
}
